.picture-container {
    position: relative;
}

.my-picture {
    width: max(10rem, 50px);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: 50% 25%;
    border-radius: 50%;
    margin: auto;
}

.picture-container::before {
    content: "";
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    border: 2px solid var(--clr-primary-purple);
    border-radius: 50%;
  }

.about-me-section {
    display: flex;
    flex-direction: column;
}

.about-me-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.about-me-name {
    font-size: var(--fs-main-title-mobile);
}

.about-me-info-container {
    padding-top: 5rem;
}

.about-me-description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: var(--fs-xs);
}

/* -------------------------------- Media Queries -------------------------------- */

@media (min-width: 720px) {

    .main-title {
        font-size: var(--fs-xxl);
    }

    .about-me-section {
    padding-block: 7rem;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    }

    .about-me-info-container {
        padding-top: 0;
        width: 58ch;
    }

    .about-me-name {
        font-size: var(--fs-l);
    }

    .about-me-description {
        display: flex;
        flex-direction: column;
        font-size: var(--fs-m);
    }

    .my-picture {
        width: max(14rem, 50px);
    }
}

@media (min-width: 1080px) {

    .main-title {
        font-size: var(--fs-main-title);
    }

    .about-me-section {
    padding-block: 9rem;
    gap: 1rem;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    }

    .about-me-info-container {
        padding-top: 0;
        width: 58ch;
    }

    .about-me-name {
        font-size: var(--fs-l);
    }

    .about-me-description {
        display: flex;
        flex-direction: column;
        font-size: var(--fs-m);
    }

    .my-picture {
        width: max(15rem, 50px);
    }
}