.section-divider {
    letter-spacing: 2px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.section-divider::before {
    content: '';
    display: block;
    width: 4rem;
    height: 2px;
    background-color: var(--clr-primary-purple);
    margin-right: 1.5rem;
}