.section-divider {
    letter-spacing: 2px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding-bottom: 1.5rem;
}

.section-divider::before {
    content: '';
    display: block;
    width: 4rem;
    height: 2px;
    background-color: var(--clr-primary-purple);
    margin-right: 1.5rem;
}


@media (min-width: 1080px) {
    .section-divider {
        padding-bottom: 0%;
    }
}
