.project-card {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--clr-primary-black);
    min-width: 23ch;
    max-width: 27ch;
    transition: .3s ease-in-out;
    scroll-snap-align: center;
    user-select: none;
    cursor: pointer;
    height: 23rem;
}


.project-card:is(:hover, :focus, :active) {
    border: 2px solid var(--clr-primary-purple);
    box-shadow: 3px 4px var(--clr-primary-purple);
    transform: scale(1.005);
}

.project-card:is(:hover, :focus, :active) > .project-icon {
    filter: invert(17%) sepia(72%) saturate(7450%) hue-rotate(251deg) brightness(99%) contrast(105%);
}

.project-icon {
    display: grid;
    place-items: center;
    border-bottom: 1px solid var(--clr-primary-black);
    padding-block: 4.25rem;
}

.project-info {
    border-top: 1px solid var(--clr-primary-black);
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1.5rem 1.25rem;
}

.project-technologies {
    text-transform: uppercase;
}

.project-icon:is(:hover, :focus, :active) {
    border-bottom: 1px solid var(--clr-primary-purple);
}

.project-info:is(:hover, :focus, :active) {
    border-top: 1px solid var(--clr-primary-purple);
}
